<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<h1>Войти</h1>
<div id="wrapper">
    <form id="signin" method="POST" action="/login" >
        <input type="text" id="user" name="username" placeholder="Email"/>
        <input type="password" id="pass" name="password" placeholder="password" />
        <input type="hidden" name="_csrf" value="${_csrf.token}">
        <button type="submit">&#xf0da;</button>
        <p>Registration <a href="/register">click here</a></p>
    </form>
</div>
</body>
</html>
